In [26]:
#importing libraries that are needed 
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# Creating the dataframe

Step 1) Scrape the wikipedia website utilizing beautiful soup, saving it to a dataframe

In [78]:
res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
print(df)

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

Step 2) Create a new df with new headers and filter

In [85]:
# Filter the dataframe to ignore any rows with a Borough that is 'Not Assigned'
df = df[df.iloc[:,1] != 'Not assigned']

# If the neighbourhood is 'Not Assigned' set equal to the name of it's Borough
df.Neighbourhood[df.Neighbourhood=='Not assigned'] = df.Borough

df.head(100)

    Postcode           Borough      Neighbourhood
2        M3A        North York          Parkwoods
3        M4A        North York   Victoria Village
4        M5A  Downtown Toronto       Harbourfront
5        M6A        North York   Lawrence Heights
6        M6A        North York     Lawrence Manor
..       ...               ...                ...
125      M2M        North York        Newtonbrook
126      M2M        North York         Willowdale
127      M3M        North York  Downsview Central
128      M4M      East Toronto    Studio District
129      M5M        North York       Bedford Park

[100 rows x 3 columns]

Step 3) Combine neighborhoods with the same Borough separated by a comma

In [ ]:
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series. 

df.groupby(['PostalCode','Borough'])["Neighborhood"].apply(','.join)

In [86]:
df.shape

(210, 3)

# Include geographical coordinates

Step 3) Combine neighborhoods separated with a comma

In [88]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

ModuleNotFoundError: No module named 'geocoder'

In [25]:
[new_df["Neighborhood"]=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

PostalCode  Borough
M1B         Scarborough                                        Rouge,Malvern
M1C         Scarborough                 Highland Creek,Rouge Hill,Port Union
M1E         Scarborough                      Guildwood,Morningside,West Hill
M1G         Scarborough                                               Woburn
M1H         Scarborough                                            Cedarbrae
                                                 ...
M9N         York                                                      Weston
M9P         Etobicoke                                              Westmount
M9R         Etobicoke      Kingsview Village,Martin Grove Gardens,Richvie...
M9V         Etobicoke      Albion Gardens,Beaumond Heights,Humbergate,Jam...
M9W         Etobicoke                                              Northwest
Name: Neighborhood, Length: 102, dtype: object

   PostalCode           Borough         Neighborhood
0         M4A        North York     Victoria Village
1         M5A  Downtown Toronto         Harbourfront
2         M6A        North York     Lawrence Heights
3         M6A        North York       Lawrence Manor
4         M7A  Downtown Toronto         Queen's Park
..        ...               ...                  ...
95        M2M        North York           Willowdale
96        M3M        North York    Downsview Central
97        M4M      East Toronto      Studio District
98        M5M        North York         Bedford Park
99        M5M        North York  Lawrence Manor East

[100 rows x 3 columns]